<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

	  <add name="Collect&amp;Go" connectionString="Data Source=.;Initial Catalog=Collect&amp;Go;Integrated Security=True;TrustServerCertificate=True"/>
	  
	 <!--
    <add name="Collect&amp;Go" connectionString="Server=tcp:jenzvandevelde.database.windows.net,1433;Initial Catalog=CollectAndGo;Persist Security Info=False;User ID=sqlAdmin;Password=Mylo1621;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	-->
	  
  </connectionStrings>
</configuration>