<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Lokale databse-->
    <!--
	  <add name="Collect&amp;Go" connectionString="Data Source=.;Initial Catalog=Collect&amp;Go;Integrated Security=True;TrustServerCertificate=True"/>
	  -->
   
    <!-- Oude online database-->
	  <!--
    <add name="Collect&amp;Go" connectionString="Server=tcp:jenzvandevelde.database.windows.net,1433;Initial Catalog=CollectAndGo;Persist Security Info=False;User ID=sqlAdmin;Password=Mylo1621;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	  -->
    
    <!-- Nieuwe online database-->
    <add name="Collect&amp;Go" connectionString="Server=78.22.195.15,1433;Database=CollectAndGo;User Id=Sa;Password=Mylo1621; TrustServerCertificate=True;"/>
	  
  </connectionStrings>
</configuration>